* {
	box-sizing: border-box;
}

html, body{
	background: #29ABE2;
	
	height: 100%;
	min-height: 100%;
	margin: 0;
	
	font-family: roboto;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #3FA9F5; 
}
::-webkit-scrollbar-thumb {
	background: #2E3192; 
}
::-webkit-scrollbar-thumb:hover {
	background: #090c5c; 
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

header{
	background: #2E3192;	
	box-shadow: #0008 0 5px 5px;

	width:100%;
	height: 100px;
    padding: 0px 20px;

	font-size: 60px;
    line-height: 100px;
    color: #fff;
}

section{
	background: #0071BC;
	box-shadow: #0008 3px 3px 3px;	

	float: left;

	margin: 20px 0px 20px 20px;
	height: calc(100% - 140px);
	padding:20px;
}

button{
	background: #1B1464;
	box-shadow: #0008 3px 3px 3px;	
	
	height:40px;
	min-width:40px;

	color: #fff;
	font-size: 30px;
	line-height: 40px;
	
	border:0;
	cursor: pointer;
}

button:hover{
	background: #1f12a5;
}

.grid{
	display: grid;
}

.block{
	background: #66CCFF;
	box-shadow: #0008 3px 3px 3px;	
	
    grid-gap: 10px;

	padding: 10px;
}

.navigation{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;

	width: 440px;
}

.treeBlock{
	background: #66CCFF;
}

.treeHeader{
	background: #3FA9F5;
	box-shadow: #0008 0px 3px 3px;
	
	cursor: pointer;
	
	padding: 8px;
}

.treeHeader svg{
	vertical-align: text-bottom;
}


.treeCollection{
	padding: 0px 0px 5px 20px;
}

.translation{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto 1fr;

	width: calc(100% - 500px);
}

.translation .actions{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto 1fr auto;	
}

.inputField textarea{
	width: calc(100% - 101px);
	height: 100%;
}

.inputField label{
	position: absolute;
	right:60px;
}

.translationInfo{
	color: #fff;
	text-align: right;
}

textarea,
input[type=text]{	
	background: #fff0;
	border: 0;
	border-bottom: 2px solid #0d78c9;
	resize: none;
	color:#000;
}

.searchBlock{
	height: 100%;

	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr auto;
}

.searchBlock input{
	min-width: 10px;
	
    font-size: x-large;
}

button svg{
	fill: #fff;
	margin: auto;
}

textarea:focus,
input[type=text]:focus{	
	border-bottom: 4px solid #0d78c9;
}

.scrollable{
	background: #66CCFF;
	box-shadow: #0008 3px 3px 3px;	
	
	overflow-y: scroll;

	height: 100%;
}

