*{
	box-sizing: border-box;
}

::selection {
    background: #9C27B0;
    color: #fff;
}

::-moz-selection{
    background: #9C27B0;
	color: #fff;
}

html, body{
	background: #29ABE2;
	
	height: 100%;
	min-height: 100%;
	margin: 0;
	
	font-family: roboto;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #3FA9F5; 
}
::-webkit-scrollbar-thumb {
	background: #2E3192; 
}
::-webkit-scrollbar-thumb:hover {
	background: #090c5c; 
}

/* Customize the label (the mtlCheckbox) */
.mtlCheckbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.mtlCheckbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #abdaff;
}

/* On mouse-over, add a grey background color */
.mtlCheckbox:hover input~.checkmark {
	background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.mtlCheckbox input:checked~.checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.mtlCheckbox input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.mtlCheckbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input:focus, textarea:focus, select:focus, button:focus{
	outline: none;
}

header{
	display:grid;
	grid-template-columns: 1fr auto auto;

	background: #2E3192;	
	box-shadow: #0008 0 5px 5px;

	width:100%;
	height: 100px;
    padding: 0px 20px;
}

header .title{
	font-size: 60px;
    line-height: 100px;
    color: #fff;
}

header .userInfo{
    font-size: 13px;
	text-align: right;
    margin: 18px 20px auto 0;
	color: #fff;
}

header .menu a{
	background: #1b1464;
	box-shadow: #0008 3px 3px 3px;
    margin: 10px;
	padding: 20px;
	
    color: #fff;
	font-size: 20px;
	text-align: end;
	line-height: 100px;
    text-decoration: none;
}

header .menu a:hover{
	background: #11068a;
}

section{
	background: #0071BC;
	box-shadow: #0008 3px 3px 3px;	

	float: left;

	margin: 20px 0px 20px 20px;
	height: calc(100% - 140px);
	padding:20px;
}

hr{
    border: solid 1px#1B1464;
}

input[type=submit],
button{
	background: #1B1464;
	box-shadow: #0008 3px 3px 3px;	
	
	height:40px;
	min-width:40px;

	color: #fff;
	font-size: 30px;
	line-height: 40px;
	
	border:0;
	cursor: pointer;
}

input[type=submit]:hover,
button:hover{
	background: #11068a;
}

.grid{
	display: grid;
}

.block{
	background: #66CCFF;
	box-shadow: #0008 3px 3px 3px;	
	
    grid-gap: 10px;

	padding: 10px;
}

.loginForm{
	display: grid;
	grid-template-rows: auto 1fr auto 1fr auto auto;
	width: 500px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
	left: calc(50% - 250px);
	padding: 20px;
}

.loginForm input[type=text],
.loginForm input[type=password]{
	font-size: large;
}

.loginForm .errorMessage{
	color: #f00;
}

.navigation{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;

	width: 440px;
}

.treeBlock{
	background: #66CCFF;
}

.treeHeader{
	background: #3FA9F5;
	box-shadow: #0008 0px 4px 4px -1px;
	
	cursor: pointer;
	user-select: none;
	
	padding: 8px;
}
.treeHeader:hover{
	background: #2996e4;
}
.treeHeader:active{
	background: #0d78c9;
}

.treeHeader svg{
	vertical-align: text-bottom;
}


.treeCollection{
	padding: 0px 0px 0px 20px;
}

.translation{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto 1fr;

	width: calc(100% - 500px);
}

.translation .actions{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 150px auto auto auto 160px;	
}

.translation .grid{
	grid-template-rows: auto 1fr auto 2fr auto 3fr;
}

.translation textarea{
	font-size: 15px;
}

.translation label{
	font-size: 17px;
}

textarea,
input[type=text],
input[type=password]{	
	background: #fff0;
	border: 0;
	border-bottom: 2px solid #0d78c9;
	resize: none;
	color:#000;
	font-family: roboto;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus{	
	border-bottom: 4px solid #0d78c9;
	margin-bottom: -2px;
}

.searchBlock{
	height: 100%;

	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr auto;
}

.searchBlock input{
	min-width: 10px;
	
    font-size: x-large;
}

button svg{
	fill: #fff;
	margin: auto;
}

.scrollable{
	background: #66CCFF;
	box-shadow: #0008 3px 3px 3px;	
	
	overflow-y: scroll;

	height: 100%;
}
